$siteColor: #c9175f;
$secondColor : #0d325e;

$borderColor : #E9E9E9;
$white: #ffffff;
$black: #000000;
$siteRed: red;

$regular: "RobotoRegular";
$bold: "RobotoBold";
$fontBlack: "RobotoBlack";
$medium: "RobotoMedium";

